<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista</title>
</head>

<body>
    <table border="1">
        <tr>
            <td>
                documento
            </td>
            <td>
                nombre
            </td>
            <td>
                ciclo
            </td>
            <td>
                sexo
            </td>
            <td>
                estado
            </td>
        </tr>
        {% if row %}
        <tr>
            <td>
                {{ row["documento"] }}
            </td>
            <td>
                {{ row["nombre"] }}
            </td>
            <td>
                {{ row["ciclo"] }}
            </td>
            <td>
                {{ row["sexo"] }}
            </td>
            <td>
                {{ row["estado"] }}
            </td>
        </tr>
        {% endif %}
    </table>
</body>

</html>